body {

  background-image: url("/src/Pages/Admin/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;

}

.logo {
  size: 41px;
}

nav {
  display: flex;
}

nav p {
  margin-right: 120px
}

nav p {
  margin-left: 40px
}

header {
  display: flex;
  justify-content: center;
  font-family: "Avengers";
  font-size: larger;
}

.logo {
  width: 300px;
  height: auto;
  /* object-fit: cover;
  mix-blend-mode: darken; */
  background: transparent;
}

@font-face {
  font-family: "Avengers";
  src: url("AvengeanceHeroicAvengerBoldItalic-R73A.ttf");
}

@font-face {
  font-family: "Blackwidow";
  src: url("BlackWidowMovie-d95Rg.ttf");
}

.welcome {
  color: black;
  background-color: #eee6e0;
  padding: 50px;
  border: 1px solid #888;
  border-radius: 8px;
}


h1 {
  font-family: "Avengers";
}

.log {
  background-color: rgba(9, 239, 9, 0.757);
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  height: 50px;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.hello {
  margin-right: 40px;
}