img{
  height: 200px;
}

.reg-log-block {
  text-align: center;
}

.reg-log-block ul{
  list-style-type: none;
  margin: 20px;
  background-color: rgb(160, 144, 125);
  height: 50px;
  width: fit-content;
  align-content: center;
}
