#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.logo{
  size: 41px;
}
nav{
  display: flex;
}
nav p {
  margin-right: 120px
}
nav p {
  margin-left: 40px
}
header {
  display: flex;
  justify-content: center; 
}

.logo {
  width: 300px; 
  height: auto;
  /* object-fit: cover;
  mix-blend-mode: darken; */
  background: transparent;
}

.heroes{
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: auto;
  justify-items: center;
  column-gap: 10px;
  row-gap: 10px;
}


@font-face {
  font-family: "Avengers";
  src: url("AvengeanceHeroicAvengerBoldItalic-R73A.ttf");
}

.HeroContainer{
  color:black;
  background-color: #eee6e0;
  margin: 15% auto;
  padding: 50px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 8px;
}
ul{
  list-style-type: none;
  font-weight: bolder;
}
li{
  font-weight: lighter;
}
p{
  font-weight: bolder;
}

